.Tasks {
    text-align: center;
  }

  .Tasks-spacer {
      background-color: #86acf8;
      min-height: 10vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 0px;
      border-style: solid;
      align-items: center;
      justify-content: center;
      margin: 0px;
  }
  
  .Tasks-header {
    background-color: #86acf8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
  }

  