button{
    background: #555b6e;
	font-size: 24px;
	margin-top: 10px;
	border-radius: 25px;
	transition: 0.2s ease-in;
	cursor: pointer;
	padding: 7px 10px;
    color: white;
    box-shadow: 0 8px #999;
    margin-right: 25px;
}

button:hover{
    background: #000000;
}